// Variables de couleurs

$color-primary: #FFFFFF;
$color-secondary: #000000;
$color-tertiary: #49BBBD;
$color-quaternary: #ACACAC;
$color-quinary: #5B5B5B;
$color-senary: #FFFEFC;
$color-septenary:  rgb(73, 187, 189, 60%);

// Variables de polices

$font-primary: 'Poppins' , sans-serif;

// Variables de tailles

$size-small: 1rem;
$size-medium: 1.5rem;
$size-large: 2rem;

// Variables de marges

$margin-small: 1rem;
$margin-medium: 1.5rem;


// Variables de padding

$padding-small: 1rem;
$padding-medium: 1.5rem;


// Variables de bordures

$border-color: #49BBBD;
$border-radius-large: 20px;

// Variables de dégradés

$gradient-primary: linear-gradient(90deg, #49BBBD 0%, #ACACAC 100%);

// Variables de breakpoints

$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;

// Mixins

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}






