// Variables de couleurs

$color-primary: #FFFFFF;
$color-secondary: #000000;
$color-tertiary: #49BBBD;
$color-quaternary: #ACACAC;
$color-quinary: #5B5B5B;
$color-senary: #FFFEFC;
$color-septenary:  rgb(73, 187, 189, 60%);

// Variables de polices

$font-primary: 'Poppins' , sans-serif;

