@use './App.scss' as *;

.btn-group {
    display: flex;
    gap: 0;
    padding: 5px;
    background-color: $color-septenary;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 auto;
    width: 329px;
    height: 59px;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 146px;
    height: 40px;
    border-radius: 20px;
    font-family: $font-primary;

    &.active {
        background-color: #49BBBD;
        color: white;
    }
}