@use './App.scss' as *;

.login {
    max-width: 400px;
    margin: 0 auto;
    padding: $padding-medium;
    border-radius: $border-radius-large;
    font-family: $font-primary;

    p {
        text-align: center;
        font-size: 14px;
        color: $color-quinary;
        margin-bottom: 20px;
    }

    .login-form {
        display: flex;
        flex-direction: column;

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: $color-secondary;
            padding: $padding-small;
        }

        input {
            width: 100%;
            padding: $padding-small;
            font-size: 14px;
            border: 1px solid $border-color;
            border-radius: $border-radius-large;
            outline: none;
            transition: border-color 0.3s ease;

            &:focus {
                border-color: $border-color;
            }

            &::placeholder {
                color: $color-quinary;
            }
        }

        .password-container {
            position: relative;
            width: 100%;

            input {
                width: 100%;
            }

            .toggle-password {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                background: transparent;
                border: none;
                cursor: pointer;
                padding: 0;
                color: $color-quinary;

                &:hover {
                    color: $color-tertiary;
                }
            }
        }

        input[type="checkbox"] {
            width: auto;
            margin-right: 5px;
        }

        label[for="remember"] {
            display: inline;
            font-weight: normal;
            color: $color-quinary;
        }
    }

    .bottom-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .form-group {
            display: flex;
            align-items: center;

            input[type="checkbox"] {
                width: auto;
                margin-right: 5px;
            }

            label {
                font-size: 14px;
                color: $color-quinary;
            }
        }

        a {
            font-size: 14px;
            color: $color-secondary;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            margin-left: 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .btn-login {
        margin-left: auto;
        margin-top: 20px;
        width: 232px;
        height: 49px;
    }

    button {
        padding: $padding-small;
        font-size: 16px;
        background-color: $color-tertiary;
        color: $color-primary;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $color-septenary;
        }
    }
}